= image_tag current_user.gravatar_url size: 82, default: 'identicon'
br
= link_to 'Change Avatar', 'https://en.gravatar.com/'
br
br
= render 'form'
br
br
= link_to 'Delete Account', current_user, method: :delete,
  data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
