.decks-show, .decks-edit
  @include fill-parent()

  div.mana-cost
    @include span-columns(1.6 of 8)
    @include omega(6n)

  div.card
    display: inline

    img
      margin-top: -208px
      width: 100%

  div.card:first-child
    img
      margin-top: 0

  .lands, .sideboard
    clear: both

.decks-edit
  div.card
    img
      margin-top: -138px

  .deck-view
    float: right
    @include span-columns(8)

  .mtg_block
    float: left
    @include span-columns(4)

    ul
      margin: 0
      padding: 0 0 0 6px

  .block
    overflow: auto
    display: inline
    @include span-columns(2 of 4)

  .mtg_set
    overflow: auto
    @include span-columns(2 of 4)
    font-size: 10px
