.suggestions
  div.card
    display: inline
    @include span-columns(1 of 5)

    img
      width: 100%

  .sideboard
    clear: both

  .additions
    float: left
    @include span-columns(5)

  .deletions
    float: right
    @include span-columns(5)

.suggestion-box
  @include span-columns(10)
  @include shift(1)
  border-radius: 6px
  padding: 0 8px
  @include linear-gradient(tint($gray, 90%), tint($gray, 80%))
  border: 1px solid $gray
  height: 48px
  line-height: 48px

  .title
    float: left

  .author
    float: right

.suggestion-show
  @include span-columns(11)
  @include shift(1)

  .main
    @include span-columns(10 of 11)
    box-shadow: 0 0 3px gray
    padding: 8px
    margin-bottom: 10px

  .title
    font-weight: bold
    font-size: 18px
    margin-bottom: 6px
